
body {
  font-family: Arial;
  margin:10;
  padding:;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

section {
  background-color: #f7f7f7;
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}

div{
  width:30px;
  hieght:50px;
  padding:10px;
  border:60px solid green;
  margin:20px auto;

li:last-child {
  border-bottom: none;
}

address {
  font-style: normal;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  clear: both;
}
